@model quanlycybergams.Models.ChiTietDonHang

@{
<<<<<<< HEAD
    ViewBag.Title = "Xác nhận xóa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper bg-light-gray" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <div class="body-wrapper">
        <!--  Header Start -->
        <!--  Header End -->
        <div class="container-fluid">
            <div class="my-3">
                <h1 class="fw-bolder text-center">XÁC NHẬN XÓA </h1>
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Action("Index","ChiTietDonhangs")" class="btn btn-info"> <i class="fa fa-long-arrow-alt-left"></i> Quay lại</a>
            </div>
            <div class="table">
                <table class="table table-striped bg-light-gray rounded" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    <thead class="text-dark fs-4">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID_DV)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.soluong)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tongGia)
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.ID_DV)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.soluong)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.tongGia)
                            </td>
                            <td>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()


                                    <div class="form-actions no-color">
                                        <button class="btn btn-danger" type="submit" name="delete">Xóa <i class="fa fa-trash"></i></button>
                                    </div>
                                }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
=======
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChiTietDonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tongGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DichVu.TenDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DichVu.TenDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonHang.ID_KhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonHang.ID_KhachHang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
>>>>>>> 58896a978fbc5910d88e4176419133ab5d25ef10
