@model IEnumerable<quanlycybergams.Models.TaiKhoan>

@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>let table = new DataTable('#myTable');</script>
}

<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger"> TÀI KHOẢN</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Create", "TaiKhoans")" class="btn-sm btn-success"><i class="fa fa-plus"> Tạo tài khoản</i></a>


                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <table class="table table-bordered  table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ID_KhachHang)</th>
                                <th>@Html.DisplayNameFor(model => model.TenKhachHang)</th>
                                <th>@Html.DisplayNameFor(model => model.ThoiGianGiaNhap)</th>
                                <th>@Html.DisplayNameFor(model => model.LoaiKhachHang)</th>
                                <th>@Html.DisplayNameFor(model => model.TenDN)</th>
                                <th>@Html.DisplayNameFor(model => model.GiaMay)</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ID_KhachHang)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TenKhachHang)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ThoiGianGiaNhap)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LoaiKhachHang)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TenDN)</td>
                                    <td>@Html.DisplayFor(modelItem => item.GiaMay)</td>
                                    <td>
                                        <a href="@Url.Action("Edit", "TaiKhoans", new { id = item.ID_KhachHang })" class="btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                                        <a href="@Url.Action("Details", "TaiKhoans", new { id = item.ID_KhachHang })" class="btn-sm btn-info"><i class="fa fa-eye"></i></a>
                                        <a href="@Url.Action("Delete", "TaiKhoans", new { id = item.ID_KhachHang })" class="btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>


                    </table>

                </div> <!-- /.card-footer-->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div><!-- ./wrapper -->