@model quanlycybergams.Models.DonGia

@{
    ViewBag.Title = "Tạo mới đơn giá";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <strong class="text-danger">TẠO MỚI ĐƠN GIÁ</strong>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="@Url.Action("Index","dongias")" class="btn-sm btn-info"><i class="fa fa-long-arrow-alt-left"></i> Quay lại</a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            @*Phần nhập dữ liệu bằng tay*@
                            <div class="col-md-9">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ID_gia, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.ID_gia, new { @class = "form-control", @rows = "5" })
                                        @Html.ValidationMessageFor(model => model.ID_gia, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.GiaMay, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.GiaMay, new { @class = "form-control", @rows = "5" })
                                        @Html.ValidationMessageFor(model => model.GiaMay, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                


                            </div>

                        </div>

                        @*Sua nut Create*@
                        <button class="btn-sm btn-success" type="submit" name="create">[Lưu] Thêm <i class="fa fa-save"></i></button>

                    </div> <!-- /.card-footer-->
                </div><!-- /.card -->
            </section><!-- /.content -->
        </div> <!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
}