@model quanlycybergams.Models.May

@{
    ViewBag.Title = "Tạo mới máy";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page-wrapper bg-light-gray" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">

        <div class="body-wrapper">
            <!--  Header Start -->
            <!--  Header End -->
            <div class="container-fluid">
                <div class="my-3">
                    <h1 class="fw-bolder text-center">TẠO MỚI MÁY </h1>
                </div>
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Index","Mays")" class="btn btn-info"> <i class="fa fa-long-arrow-alt-left"></i> Quay lại</a>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ID_May, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.ID_May, new { @class = "form-control", @rows = "5" })
                        @Html.ValidationMessageFor(model => model.ID_May, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TenMay, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.TenMay, new { @class = "form-control", @rows = "5" })
                        @Html.ValidationMessageFor(model => model.TenMay, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="HoatDong" value="" onclick="clearSelection()" /> Không hoạt động
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.HoatDong, true) Hoạt động
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(model => model.HoatDong, false) Hư Máy
                    </label>
                    @Html.ValidationMessageFor(model => model.HoatDong, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.GiaMay, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.GiaMay, new { @class = "form-control", @rows = "5" })
                        @Html.ValidationMessageFor(model => model.GiaMay, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ThoiGianMo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ThoiGianMo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ThoiGianMo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ThoiGianTat, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ThoiGianTat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ThoiGianTat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Lưu" class="btn btn-success create-button" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
}