@model IEnumerable<quanlycybergams.Models.May>

@{
    ViewBag.Title = "Máy";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper bg-light-gray" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <div class="body-wrapper">
        <!--  Header Start -->
        <!--  Header End -->
        <div class="container-fluid">
            <div class="my-3">
                <h1 class="fw-bolder text-center">DANH SÁCH MÁY</h1>
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Action("Create", "Mays")" class="btn btn-success"><i class="fa fa-plus"> Tạo mới</i></a>
            </div>
            <div class="table">
                <table class="table table-striped bg-light-gray rounded" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    <thead class="text-dark fs-4">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID_May)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TenMay)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HoatDong)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GiaMay)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ThoiGianMo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ThoiGianTat)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TongTien)
                            </th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ID_May)</td>
                                <td>@Html.DisplayFor(modelItem => item.TenMay)</td>

                                <td>
                                    @if (item.HoatDong.HasValue && item.HoatDong.Value)
                                    {
                                        <span class="text-success">Hoạt động</span>
                                    }
                                    else if (item.HoatDong.HasValue && !item.HoatDong.Value)
                                    {
                                        <span class="text-danger">Hư máy</span>
                                    }
                                    else
                                    {
                                        <span class="text-muted">Không hoạt động</span>
                                    }
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.GiaMay)</td>
                                <td>@Html.DisplayFor(modelItem => item.ThoiGianMo)</td>
                                <td>@Html.DisplayFor(modelItem => item.ThoiGianTat)</td>
                                <td>@Html.DisplayFor(modelItem => item.TongTien)</td>
                                <td class="border-bottom-0">
                                    <a href="@Url.Action("Edit", "Mays", new { id = item.ID_May })">
                                        <button type="button" class="btn btn-success">
                                            <i class="ti ti-edit"></i>
                                        </button>
                                    </a>

                                    <a href="@Url.Action("Details", "Mays", new { id = item.ID_May })">
                                        <button type="button" class="btn btn-info">
                                            <i class="ti ti-eye"></i>
                                        </button>
                                    </a>

                                    <a href="@Url.Action("Delete", "Mays", new { id = item.ID_May })">
                                        <button type="button" class="btn btn-danger">
                                            <i class="ti ti-trash"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>