@model quanlycycybergames.Models.Kho

@{
    ViewBag.Title = "Xác nhận xóa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="page-wrapper bg-light-gray" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <div class="body-wrapper">
        <!--  Header Start -->
        <!--  Header End -->
        <div class="container-fluid">
            <div class="my-3">
                <h1 class="fw-bolder text-center">XÁC NHẬN XÓA </h1>
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Action("Index","Khos")" class="btn btn-info"> <i class="fa fa-long-arrow-alt-left"></i> Quay lại</a>
            </div>
            <div class="table">
                <table class="table table-striped bg-light-gray rounded" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    <thead class="text-dark fs-4">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID_Mathang)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TenMatHang)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SoLuong)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TinhTrang)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NgayNhap)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.ID_Mathang)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.TenMatHang)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.SoLuong)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.TinhTrang)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.NgayNhap)
                            </td>

                            <td>
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()


                                    <div class="form-actions no-color">
                                        <button class="btn btn-danger" type="submit" name="delete">Xóa <i class="fa fa-trash"></i></button>
                                    </div>
                                }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>