@model quanlycybergams.Models.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngayDatHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayDatHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tongGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.TenKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.TenKhachHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
