@model quanlycybergams.Models.DichVu

@{
    ViewBag.Title = "Chi tiết kho";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="page-wrapper bg-light-gray" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

    <div class="body-wrapper">
        <!--  Header Start -->
        <!--  Header End -->
        <div class="container-fluid">
            <div class="my-3">
                <h1 class="fw-bolder text-center">CHI TIẾT KHO</h1>
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Action("Edit", "DichVus", new { id = Model.ID_DV })" class="btn btn-success"> <i class="fa fa-edit"> Sửa</i></a>
                <a href="@Url.Action("Index", "DichVus")" class="btn btn-info"> <i class="fa fa-long-arrow-alt-left"></i> Quay lại</a>
            </div>
            <div class="table">
                <table class="table table-striped bg-light-gray rounded" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                    <thead class="text-dark fs-4">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID_DV)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TenDV)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AnhSP)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GiaBan)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ID_Mathang)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.ID_DV)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.TenDV)
                            </td>
                            <td>
                            <td><img src="~/Public/img/anh/@Model.AnhSP" alt="Img" class="img-fluid" /></td>
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.GiaBan)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ID_DV)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
